body {
  background-color: $ecru-white;
}

a {
  cursor: pointer;
  color: $anzac;
  &:hover {
    color: $anzac;
  }
  &.text-primary:focus, &.text-primary:active {
    color: $anzac !important;
  }
}
